
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>page2</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success btn-block">Submit 2</button>
        </div>
    </div>
</body>
</html>
